RewriteEngine on

# For some web hosts the next line has to be activated 
#RewriteBase /

# Redirect HTTP to HTTPS if host is insanitymeetshh.net
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} insanitymeetshh\.net
RewriteRule ^(.*)$ https://chatbot.insanitymeetshh.net/$1 [L,R=301]

# Forwards all requests to index.php, except files and folders
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [NC,L,QSA]