.channels {
    &.card-columns {
        @include media-breakpoint-up(sm) {
            column-count: 2;
        }
        
        @include media-breakpoint-up(lg) {
            column-count: 3;
        }
        
        @include media-breakpoint-up(xl) {
            column-count: 4;
        }
    }
}
