.chat {
    @extend .tile-background;
    position: relative;

    &.popout {
        .messages {
            height: 10px;
        }
    }

    .emote {
        cursor: pointer;
        margin-top: -5px;
        max-height: 25px;

        + .emote {
            &.is-stackable {
                margin-left: -29px;
            }
        }
    }

    .messages {
        height: 350px;
        overflow-y: auto;

        .message {
            border-radius: 5px;
            color: $chat-color-message;
            padding: 5px 10px;

            &:nth-child(odd) {
                background-color: $theme-color-2;
            }

            &.action {
                .user,
                .text {
                    font-style: italic;
                }
            }

            &.purge {
                .user,
                .text {
                    text-decoration: line-through;
                }
            }

            &.notification {
                .user,
                .text {
                    color: $chat-color-notification;
                    font-weight: normal;
                }
            }

            .action {
                color: $chat-color-action;
            }

            .linkified {
                word-break: break-all;
            }

            .purge {
                color: $chat-color-purge;
            }

            .timestamp {
                cursor: pointer;
            }
        }
    }

    .overlay {
        display: none;
        position: absolute;
        z-index: 10;
    }

    .scroll-bottom {
        background-color: rgba(0, 0, 0, .75); // sass-lint:disable-line no-color-literals
        border-radius: 5px;
        bottom: 10px;
        color: $white;
        cursor: pointer;
        left: 50%;
        padding: 0 10px;
        position: absolute;
        transform: translateX(-50%);
    }

    .twitch-badge {
        cursor: pointer;
        display: inline-block;

        svg {
            border-radius: 3px;
            margin-right: 5px;
            padding: 2px;

            &.admin {
                background-color: $badge-bg-admin;
            }

            &.bits {
                background-color: $badge-bg-bits;
            }

            &.bits-charity {
                background-color: $badge-bg-bits-charity;
                color: $badge-color-bits-charity;
            }

            &.bits-leader {
                background-color: $badge-bg-bits-leader;
            }

            &.bot {
                background-color: $badge-bg-bot;
            }

            &.broadcaster {
                background-color: $badge-bg-broadcaster;
            }

            &.founder {
                background: $badge-bg-founder;
            }

            &.glhf-pledge {
                background-color: $badge-bg-glhf-pledge;
            }

            &.global-mod {
                background-color: $badge-bg-global-mod;
            }

            &.hype-train {
                background-color: $badge-bg-hype-train;
                color: $badge-color-hype-train;

                &.former {
                    background-color: $badge-bg-hype-train-former;
                    color: $badge-color-hype-train-former;
                }
            }

            &.mod {
                background-color: $badge-bg-mod;
            }

            &.partner {
                background-color: $badge-bg-partner;
            }

            &.prime,
            &.premium {
                background-color: $badge-bg-prime;
            }

            &.staff {
                background-color: $badge-bg-staff;
            }

            &.sub-gifter {
                background-color: $badge-bg-sub-gifter;
            }

            &.sub-gift-leader {
                background-color: $badge-bg-sub-gift-leader;
            }

            &.subscriber {
                background-color: $badge-bg-subscriber;
            }

            &.tc-eu-2019 {
                background-color: $badge-bg-tc-eu-2019;
            }

            &.tc-eu-2020 {
                /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6644aa+0,e82cb5+50,f4d684+100 */ // sass-lint:disable-line no-css-comments
                background: $badge-bg-tc-eu-2020;
            }

            &.tc-usa-2017 {
                /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6644aa+0,2ba6de+100 */ // sass-lint:disable-line no-css-comments
                background: $badge-bg-tc-usa-2017;
            }

            &.tc-usa-2018 {
                background-color: $badge-bg-tc-usa-2018;
            }

            &.tc-usa-2019 {
                background-color: $badge-bg-tc-usa-2019;
            }

            &.tgc-2020 {
                background-color: $badge-bg-tgc-2020;
                color: $badge-color-tgc-2020;
            }

            &.turbo {
                background-color: $badge-bg-turbo;
            }

            &.vip {
                background-color: $badge-bg-vip;
            }
        }
    }

    .user {
        color: $chat-color-user;
        font-weight: bold;
    }
}
