.field {
    &.is-dark {
        &[data-v-5b500588] {
            ::placeholder {
                color: $black;
            }
        }

        .field-input {
            &[data-v-5b500588] {
                background-color: $white;
                height: 38px;
                min-height: 38px;

                &.is-invalid {
                    + button {
                        right: 30px;
                    }
                }
            }
        }

        .field-input,
        .field-label {
            &[data-v-5b500588] {
                color: $black;
            }
        }
    }
}
