table {
    &.data-table {
        margin-bottom: 49px;
        margin-top: 45px;

        &.dataTable { // sass-lint:disable-line class-name-format
            margin-bottom: 0;
            margin-top: 0;
        }

        thead {
            .sorting,
            .sorting_asc, // sass-lint:disable-line class-name-format
            .sorting_asc_disabled, // sass-lint:disable-line class-name-format
            .sorting_desc, // sass-lint:disable-line class-name-format
            .sorting_desc_disabled { // sass-lint:disable-line class-name-format
                &::after,
                &::before {
                    font-family: Arial;
                }
            }
        }
    }
}
