.modal {
    color: $white;

    &#components-order { // sass-lint:disable-line no-ids
        .custom-select {
            min-width: 90px;
        }
    }

    .modal-xxl {
        @include media-breakpoint-up(xxl) {
            max-width: 1540px - $grid-gutter-width;
        }
    }
}
