.h1,
h1 {
    @include media-breakpoint-up(md) {
        font-size: $font-size-base * 2.5;
    }
}

a {
    @extend .transition-all;
    
    &:hover {
        text-decoration: none;
    }
}

.channels {
    &.card-columns {
        @include media-breakpoint-up(sm) {
            column-count: 2;
        }
        
        @include media-breakpoint-up(lg) {
            column-count: 3;
        }
        
        @include media-breakpoint-up(xl) {
            column-count: 5;
        }
    }
}
