.h1,
h1 {
    @include media-breakpoint-up(md) {
        font-size: $font-size-base * 2.5;
    }
}

a {
    @extend .transition-all;

    &:hover {
        text-decoration: none;
    }
}

.custom-switch {
    .custom-control-label {
        &::before,
        &::after {
            cursor: pointer;
        }
    }
}
