.container-fluid {
    .player {
        margin-left: -($grid-gutter-width / 2);
        margin-right: -($grid-gutter-width / 2);
    }
}

.player {
    position: relative;

    .empty {
        .h2 {
            left: 50%;
            position: relative;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .overlay {
        display: none;
        position: absolute;
        z-index: 10;

        &.video-name {
            background-color: $navbar-light-hover-color;
            border-radius: 5px;
            bottom: 25px;
            color: $white;
            display: block;
            font-size: 1.5rem;
            left: 25px;
            max-width: 90%;
            opacity: 0;

            &.animation {
                animation: video-name-fade 15s 2.5s linear;
            }

            .sub-name {
                font-size: .75em;
            }

            @include media-breakpoint-up(xxl) {
                border-radius: 10px;
                font-size: 3rem;
            }
        }
    }
}

@keyframes video-name-fade {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
