.raffle {
    @extend .tile-background;
    position: relative;

    &.popout {
        background-color: transparent;

        .winner {
            .option {
                font-size: 5rem;
            }
        }
    }

    label {
        color: $white;
    }
}
