.container-fluid {
    .video {
        margin-left: -($grid-gutter-width / 2);
        margin-right: -($grid-gutter-width / 2);
    }
}

.video {
    position: relative;

    .empty {
        .h2 {
            left: 50%;
            position: relative;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .overlay {
        display: none;
        position: absolute;
        z-index: 10;
        
        &.name {
            background-color: $navbar-light-hover-color;
            border-radius: 5px;
            bottom: 25px;
            color: $white;
            display: block;
            font-size: 1.5rem;
            left: 50%;
            max-width: 90%;
            opacity: 0;
            transform: translateX(-50%);
            
            &.animation {
                animation: video-name-fade 10s linear;
            }
            
            .sub-name {
                font-size: 1rem;
            }
        }
    }
}

@keyframes video-name-fade {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
