.winner {
    margin-bottom: 10px;
    min-height: 400px;
    position: relative;

    .option {
        font-size: 3rem;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
}
